canvas {
    position: absolute;
    background: transparent;
    top: 100px;
    left: auto;
    z-index: 1;
    display: block;
}

#game {
    margin: auto 0;
}

#backgroundCanvas {
    display: block;
}

#Score {
    font-style: italic;
    color: white;
    font-weight: bold;
    font-size: 14px;

}

#playerCanvas, #ghostCanvas, #bulletCanvas {
    display: block;
}

body {
    background: #303030;
}

#menu {
    position: absolute;
    left: 500px;
    top: 200px;
    padding: 0 20px 10px 10px;
    background-color: white;
    border: 2px solid black;
    color: yellow;
}

#menu a {
    display: block;
    text-decoration: none;
    background-color: yellow;
    font-size: 3.5em;
}

#menu a:hover {
    color: black;
}

#game {
    width: 800px;
    height: 600px;
    display: block;
    Margin: 100px auto 0;
}