canvas{
    position: absolute;
    background: transparent;
    top: 100px;
    left: auto ;
    display: block;
}

#FPS{
    margin-left: 28%;
    margin-top: -50px;
    color: white;
    font-style: italic;
    font-size: 20px;
}

#pauseButton{
    height: 20px;
    margin: 17px 0 0 25px;
}

#topGame{
    width: 800px;
    height: 40px;
    margin-left:26%;
    margin-top: -20px;
    display: inline-flex;


}

label, h1{
    color: white;
}

#game{
    margin: 100px auto 0;
    width: 800px;
    height: 580px;
    display: block;
}

body{
    background-color: #303030;
}

h1{
    margin-left: 40%;
}