canvas{
    position: absolute;
    background: transparent;
    top: 100px;
    left: auto ;
    display: block;
}



#game{
    margin: 100px auto 0;
    width: 800px;
    height: 500px;
    display: block;
}

body{
    background-color: #303030;
}

h1{
    margin-left: 850px;
}